@import 'tailwindcss';

@config '../tailwind.config.js';

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@utility gutters {
  @apply px-16;
}
@utility bg-dotted {
  background-image:
    radial-gradient(var(--color-white) 8%, transparent 10%),
    radial-gradient(var(--color-white) 8%, transparent 10%);
  background-size: 40px 40px;
  background-position:
    W 0 0,
    60px 60px;
  background-color: var(--color-accent);

  animation-name: backgroundmovement;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@layer utilities {
  [type='checkbox'],
  [type='radio'] {
    color: var(--color-primary);
  }

  html {
    @apply min-h-fit scroll-smooth bg-white text-base text-dark;
  }

  body {
    margin: 0 !important;
    padding: 0;
    height: fit-content;
  }

  body * {
    box-sizing: border-box;
  }
}

@keyframes backgroundmovement {
    0% {
        background-position:
            0px 0px,
            60px 60px;
    }
    100% {
        background-position:
            60px 60px,
            120px 120px;
    }
}

* {
    scrollbar-width: auto;
    scrollbar-color: var(--color-primary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    height: 2px;
    width: 4px;
}

*::-webkit-scrollbar-track {
    background: none;
}

*::-webkit-scrollbar-thumb {
    @apply bg-primary;
    border-radius: 20px;
    height: 150px;
}
